:root{
    --main-bg-color : brown;
    --heading : purple;
    --subheading : rgb(219, 0, 219);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--heading);
}

body{
    background: #eee;
}

h1{
    text-align: center;
    position: sticky;
    top : 0;
    z-index: 3;
    background:#eee;
    color:var(--heading);
}
h3{
    color: var(--heading);
}
.container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    /* width : 90vw; */
    margin: 0 auto;
}


.first-box , .second-box{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    justify-content: flex-start;
    width :45vw;
}
.box1 , .box2 {
    display: none;
}

label{
    display: block;
    margin : 0 0 0.3rem 0;
}
input, textarea{
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    border : 2px solid var(--heading);
    padding : 0.5rem 0.1rem;
}
input{
    margin: 0 0 0.3rem 0;
}
button{
    cursor: pointer;
}
#userImg{
    background: #fff;
}
input #file-upload-button{
    /* background: #000; */
}
#linkedIn , #github{
    border-radius: 5px;
    border : 2px solid var(--heading);
}

.addmoreinfo{
    display: block;
    margin: 0rem auto;
    background: purple;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
}
.submission{
    margin:1rem;
}
.submission input{
    width : 200px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border : none;
    background-color: purple;
    color: white;
}
.space{
    height: 0.75rem;
}
.printbtn{
    display: none;
}